@media only screen and (max-width: 1200px) {
    .projects__description {
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        bottom: 1%;
    }

    .projects__link {
        max-width: max-content;

    }
}

@media only screen and (max-width: 1024px) {
    .wishbone-section {
        padding: 89px 0 73px;
    }

    .wishbone-section__container {
        padding-left: 15px;
    }

    .wishbone-section__title {
        font-size: 60px;
        line-height: 60px;
    }

    .wishbone-section__text {
        max-width: 482px;
        font-size: 15px;
        margin-bottom: 30px;
    }

    .our-firm {
        padding: 80px 0 36px;
    }

    .reeding-house {
        min-height: 488px;
        padding-right: 20px;
    }

    .process {
        padding: 79px 15px;
    }

    .process__subtitle {
        font-size: 13px;
    }

    .process__title {
        font-size: 34px;
        margin-bottom: 30px;
    }

    .marble-staircase {
        min-height: 488px;
        padding-right: 20px;
    }


    .customers {
        padding: 78px 15px;
    }

    .customers__logo-items a {
        margin-right: 58px;
    }

    .mb {
        margin-bottom: 94px;
    }

    .swirling-staircase {
        min-height: 488px;
        padding-left: 20px;
    }

    .featured-projects {
        padding: 58px 15px 69px;
    }

    .featured-projects__title {
        text-align: center;
        font-size: 29px;
    }

    .projects__link {
        font-size: 14px;
        margin-left: 0;
        padding: 8px 16px;
    }

    .projects__title {
        font-size: 18px;
    }

    .featured-projects__text {
        text-align: center;
        font-size: 19px;
        margin-bottom: 30px;
    }

    .our-team {
        padding: 74px 15px 86px;
    }

    .our-team__image {
        padding-right: 0;
    }

    .our-team__image-info {
        width: 295px;
    }

    .get-in-touch {
        padding: 113px 15px 117px;
    }

    .footer {
        padding: 62px 15px 60px;
    }
}

@media only screen and (max-width: 992px) {
    .wishbone-section__text {
        max-width: 466px;
    }

    .our-team__info {
        margin-right: 15px;
        max-width: 345px;
    }

    .our-team__image-info {
        margin-bottom: 30px;
    }

    .process {
        padding: 69px 15px;
    }
}

@media only screen and (max-width: 900px) {
    .process__article-item {
        max-width: max-content;
    }

    .process__article-text {
        padding-left: 55px;
        padding-right: 55px;
    }
}

@media only screen and (max-width: 834px) {
    .header-container {
        padding: 0 15px 0 17px;
    }

    .navigator-list__item {
        margin-left: 21px;
    }

    .navigator-list__item a {
        font-size: 14px;
    }

    .navigator-list__item:last-child a {
        font-size: 15px;
        padding: 10px 16px;
    }

    .wishbone-section {
        padding: 71px 0 57px;
    }

    .wishbone-section__title {
        font-size: 50px;
        line-height: 51px;
    }

    .wishbone-section__text {
        max-width: 384px;
        font-size: 14px;
    }

    .our-firm {
        padding: 60px 0 30px;
    }

    .our-firm__container {
        display: block;
    }

    .our-firm__title {
        text-align: center;
        margin-bottom: 15px;
        font-size: 30px;
    }

    .our-firm__description-container {
        font-size: 30px;
        margin: auto;
    }

    .our-firm__description {
        font-size: 15px;
    }

    .our-team__image-info {
        justify-content: center;
        width: 100%;
    }

    .reeding-house {
        min-height: 381px;
    }

    .process__title {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .process__article-title {
        font-size: 16px;
    }

    .process__article-text {
        font-size: 14px;
    }

    .marble-staircase {
        min-height: 381px;
    }

    .swirling-staircase {
        min-height: 381px;
    }

    .featured-projects__title {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .featured-projects {
        padding: 50px 15px 50px;
    }

    .featured-projects__text {
        font-size: 18px;
        margin-bottom: 14px;
    }

    .city {
        font-size: 13px;
        line-height: 14px;
    }

    .projects__link {
        font-size: 12px;
        padding: 3px 12px;
    }

    .projects__title {
        font-size: 16px;
    }

    .name-and-position p:first-child {
        font-size: 15px;
        line-height: 25px;
    }

    .name-and-position p:last-child {
        font-size: 11px;
    }

    .our-team__image-info {
        justify-content: flex-start;
        width: 222px;
    }

    .our-team__image-info img {
        width: 70px;
        height: 70px;
    }

    .our-team__image {
        max-width: 455px;
        justify-content: space-between;
    }

    .our-team__title {
        font-size: 30px;
    }

    .our-team__text {
        font-size: 14px;
        margin-bottom: 15px;
    }
}


@media only screen and (max-width: 820px) {
    .our-team__image-info {
        width: 205px;
    }

    .our-team__image-info img {
        margin-right: 15px;
    }

    .get-in-touch {
        padding: 79px 15px 82px;
    }

    .get-in-touch__text h1 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 800px) {
    .wishbone-section {
        padding: 62px 0 52px;
    }

    .wishbone-section__subtitle {
        font-size: 14px;
    }

    .wishbone-section__title {
        font-size: 45px;
        line-height: 48px;
    }

    .wishbone-section__text {
        max-width: 369px;
        font-size: 13px;
        margin-bottom: 20px;
    }

    .reeding-house {
        min-height: 350px;
    }

    .process__article-text {
        padding-left: 35px;
        padding-right: 35px;
    }

    .marble-staircase {
        min-height: 350px;
    }

    .customers {
        padding: 55px 15px;
    }

    .customers__subtitle {
        font-size: 12px;
    }

    .customers__title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .customers__text {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .mb {
        margin-bottom: 54px;
    }

    .customers__logo-items a {
        margin-right: 44px;
    }

    .customers__logo-items a img {
        width: 80%;
        height: 80%;
    }

    .customers__info {
        max-width: 355px;
    }

    .swirling-staircase {
        min-height: 350px;
    }

    .our-team__info {
        max-width: 315px;
    }

    .get-in-touch__text h4 {
        font-size: 14px;
    }

    .get-in-touch__text h1 {
        font-size: 25px;
    }

    .get-in-touch__link {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {

    .header-container a img {
        max-width: 175px;
        height: 100%;
    }

    .navigator-list__item {
        margin-left: 17px;
    }

    .navigator-list__item a {
        font-size: 13px;
    }

    list__item:last-child a {
        font-size: 14px;
        padding: 9px 13px;
    }

    .wishbone-section__subtitle {
        font-size: 12px;
    }

    .wishbone-section__link {
        font-size: 14px;
    }

    .wishbone-section {
        padding: 43px 0 46px;
    }

    .wishbone-section__title {
        font-size: 40px;
        line-height: 39px;
    }

    .wishbone-section__text {
        max-width: 352px;
        font-size: 13px;
        margin-bottom: 15px;
    }

    .our-firm__description {
        font-size: 14px;
    }

    .reeding-house {
        min-height: 300px;
    }

    .marble-staircase {
        min-height: 300px;
    }

    .customers {
        padding: 45px 15px;
    }

    .customers__subtitle {
        font-size: 11px;
    }

    .customers__title {
        font-size: 28px;
        margin-bottom: 12px;
    }

    .customers__text {
        line-height: 20px;
        font-size: 12px;
    }

    .customers__logo-items a {
        margin-right: 25px;
    }

    .customers__logo-items a img {
        width: 100px;
    }

    .swirling-staircase {
        min-height: 300px;
    }


    .featured-projects {
        padding: 35px 15px 60px;
    }

    .featured-projects__title {
        font-size: 23px;
        margin-bottom: 0px;
    }

    .featured-projects__text {
        line-height: 20px;
        font-size: 16px;
    }

    .city {
        font-size: 12px;
        line-height: 8px;
    }

    .projects__title {
        font-size: 14px;
    }

    .projects__description {
        padding: 25px;
    }

    .projects__link {
        font-size: 12px;
        margin-left: 0;
        padding: 6px 15px;
    }

    .our-team__info {
        max-width: 296px;
    }

    .our-team__text {
        font-size: 12px;
    }

    .our-team__title {
        font-size: 28px;
        margin-bottom: 10px
    }

    .our-team__link {
        font-size: 14px;
    }
}

@media only screen and (max-width: 430px) {
    .header {
        padding: 12px 0;
    }

    .header-container a img {
        max-width: 150px;
        height: 100%;
    }

    .header-container {
        display: block;
    }

    .navigator-list {
        margin-top: 10px;
        gap: 18px;
    }

    .navigator-list__item {
        margin-left: 0;
    }

    .navigator-list__item a {
        font-size: 12px;
    }

    .navigator-list__item:last-child a {
        font-size: 12px;
        padding: 8px 11px;
    }

    .wishbone-section__image {
        width: 100%;
    }

    .wishbone-section__container {
        padding: 21px;
        border-radius: 16px;
        margin: 17px;
        background-color: rgba(236, 231, 228, 0.6);
        position: relative;
        z-index: 2;
    }

    .wishbone-section__subtitle {
        color: #1B1A1A;
    }

    .wishbone-section__text {
        color: #000;
    }

    .wishbone-section__link {
        color: #fff;
        background: #000;
        border-radius: 14px;
        padding: 8px 11px;
    }

    .our-firm {
        padding: 40px 15px 20px;
    }

    .our-firm__description {
        font-size: 13px;
    }

    .our-firm__title {
        margin-bottom: 7px;
        font-size: 27px;
    }

    .our-team__image-info {
        justify-content: center;
        width: 100%;
    }

    .reeding-house {
        justify-content: center;
    }

    .marble-staircase {
        justify-content: center;
    }

    .swirling-staircase {
        justify-content: center;
    }

    .featured-projects__title {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .featured-projects__text {
        line-height: 16px;
        font-size: 12px;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .process__item {
        max-width: 270px;
    }

    .desription {
        padding: 21px;
        border-radius: 16px;
        background-color: rgba(236, 231, 228, 0.7);
    }

    .customers__logos {
        margin-top: 33px;
    }

    .mb {
        margin-bottom: 30px;
    }

    .customers__container {
        display: block;
        text-align: center;
    }

    .customers__info {
        max-width: max-content;
    }

    .customers__logo-items {
        gap: 25px
    }

    .customers__logo-items a {
        margin-right: 0;
    }

    .our-team__container {
        display: block;
    }

    .our-team__image {
        margin-top: 20px;
    }

    .our-team__image-info {
        text-align: center;
        width: 152px;
        display: block;
    }

    .our-team {
        padding: 35px 15px 35px;
    }

    .our-team__image-info img {
        margin-right: 0;
    }

    .our-team__info {
        margin: auto;
        text-align: center;
        max-width: 296px;
    }

    .get-in-touch {
        padding: 31px 15px 61px;
    }

    .get-in-touch__link {
        max-width: max-content;
    }

    .get-in-touch__container {
        display: block;
    }

    .footer {
        padding: 30px 15px 30px;
    }

    .footer__container {
        display: block;
        text-align: center;
    }

    .footer__logo p {
        font-size: 11px;
        line-height: 10px;
    }

    .footer__social {
        margin-top: 20px;
        justify-content: center;
    }
}

@media only screen and (max-width: 414px) {
    .navigator-list {
        gap: 15px;
    }
}

@media only screen and (max-width: 390px) {
    .header-container {
        position: relative;
    }

    .navigator-list__item:last-child a {
        position: absolute;
        right: 15px;
        top: -12px;
    }

    .header {
        padding: 22px 0 18px;
    }

    .navigator-list {
        margin-top: 19px;
        gap: 32px;
    }

    .navigator-list__item a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {
    .navigator-list {
        gap: 28px;
    }
}

@media only screen and (max-width: 360px) {
    .navigator-list {
        gap: 24px;
    }

    .get-in-touch__text h1 {
        font-size: 23px;
    }

    .our-firm__description-container {
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    .header-container a img {
        max-width: 145px;
        height: 100%;
    }

    .navigator-list {
        gap: 18px;
    }

    .navigator-list__item a {
        font-size: 13px;
    }

    .navigator-list__item:last-child a {
        font-size: 12px;
        padding: 6px 8px;
    }

    .wishbone-section__title {
        font-size: 37px;
        line-height: 36px;
    }

    .wishbone-section__container {
        background-color: rgba(236, 231, 228, 0.7);
    }

    .our-team__image-info {
        width: 140px;
    }

    .get-in-touch__text h4 {
        font-size: 11px;
    }

    .get-in-touch__text h1 {
        line-height: 37px;
        font-size: 20px;
    }
}